<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="DAO.BookDao" name="bookDao">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean class="Action.queryBookByKeyWordAction" name="queryBook">
        <property name="bookDao" ref="bookDao"></property>
    </bean>

    <bean class="Action.deleteBookAction" name="deleteBook">
        <property name="bookDao" ref="bookDao"></property>
    </bean>

    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="sessionFactory">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mappingResources" value="hibernate.cfg.xml"></property>
        <property name="mappingLocations" value="classpath:Table/TBook.hbm.xml"></property>
    </bean>

    <bean class="org.apache.commons.dbcp2.BasicDataSource" name="dataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/books?characterEncoding=UTF-8"></property>
        <property name="username" value="root"/>
        <property name="password" value="bingjie123"/>
    </bean>
</beans>